main {
  background-color: $bgmain;
  color: $colorText;
  .price {
    width: 45%;
  }
  .productTrending {
    .image {
      width: 100px;
      height: 100px;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .Product {
    height: 400px;
    .image {
      width: 100%;
      height: 40%;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
